.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9; /* Mantengo el fondo original */
}

.card h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.card-table {
    overflow-x: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:last-child td {
    border-bottom: none;
}